*.sw?
.#*
*#
*~
.classpath
.project
.settings
bin
build
target
dependency-reduced-pom.xml
*.sublime-*
/scratch
.gradle
README.html
*.iml
.idea
src/main/java/de/p39/asrs/server/controller/ApplicationConstants.java
/out
DataModel.ucls
CreateRoute.useq
.DS_Store
