<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>
<div th:fragment="footer">

    <div class="footer">
        <div class="footer-inner">
            <div class="footer-content">
						<span class="bigger-120">
							<span class="blue bolder">Saarromanus</span>
							Upload-Plattform &copy; 2017
						</span>

                &nbsp; &nbsp;
            </div>
        </div>
    </div>

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
<!-- /.main-container -->
</div>
<div th:fragment="js">
<script th:src="@{/js/jquery-2.1.4.min.js}"
        src="../../js/jquery-2.1.4.min.js"></script>

<!-- <![endif]-->

<!--[if IE]>
<script th:src="@{/js/jquery-1.11.3.min.js}"
        src="../../js/jquery-1.11.3.min.js"></script>
<![endif]-->

<script th:src="@{/js/bootstrap.min.js}"
        src="../../js/bootstrap.min.js"></script>

<!-- page specific plugin scripts -->

<!-- ace scripts -->
<script th:src="@{/js/ace-elements.min.js}"
        src="../../js/ace-elements.min.js"></script>
<script th:src="@{/js/ace.min.js}"
        src="../../js/ace.min.js"></script>

<!-- inline scripts related to this page -->



</div>
</body>
</html>