<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>

    <div th:fragment="sidebar" id="sidebar" class="sidebar                  responsive                    ace-save-state">
        <script type="text/javascript">
            try{ace.settings.loadState('sidebar')}catch(e){}
        </script>


        <ul class="nav nav-list">
            <li class="">
                <a href="/locationoverview">
                    <i class="menu-icon fa fa-map-marker"></i>
                    <span class="menu-text"> Locations </span>
                </a>
            </li>
            <li class="">
                <a href="/routeoverview">
                    <i class="menu-icon fa fa-map-o"></i>
                    <span class="menu-text"> Routen </span>
                </a>

            </li>
            <li class="">
                <a href="useroverview">
                    <i class="menu-icon fa fa-user"></i>
                    <span class="menu-text"> User </span>
                </a>

            </li>

        </ul><!-- /.nav-list -->

        <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
            <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
        </div>
    </div>
</body>
</html>