<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="starter-template">
        <h1>Es ist ein Fehler aufgetreten.</h1>
        <div th:inline="text">Hallo '[[${#httpServletRequest.remoteUser}]]', bitte kehren Sie zur vorherigen Seite zurück.</div>
    </div>

</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>