<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title>Alle Routen - Saarromanus</title>
<div th:replace="fragments/header :: header-css" />

</head>
<body class="no-skin">
	<div th:replace="fragments/header :: header" />
	<div class="main-container ace-save-state" id="main-container">
		<div th:replace="fragments/sidebar :: sidebar" />
		<div class="main-content">
			<div class="main-content-inner">

				<div class="page-content">

					<div class="page-header">
						<h1>
							Routen

						</h1>
					</div><!-- /.page-header -->

					<div class="row">
						<div class="col-xs-12">
							<!-- PAGE CONTENT BEGINS -->
							<div class="row">
								<div class="col-xs-12">
									<a href="/newroute"><button class="btn btn-primary">Neue Route erstellen</button></a>
<br/><br/>
									<table id="simple-table" class="table  table-bordered table-hover">
										<thead>
										<tr>

											<th>ID</th>
											<th>Name</th>

											<th></th>
										</tr>
										</thead>

										<tbody>
										<tr th:each="sb : ${allRoutes}">
											<td th:text="${{sb.id}}">13/01/2011</td>
											<td th:text="${{sb.getNames().get(0).getString()}}">13/01/2011</td>

											<td>
												<div class="hidden-sm hidden-xs btn-group">


													<a th:href='${"/editroute/"+sb.id}'><button class="btn btn-xs btn-info">
														<i class="ace-icon fa fa-pencil bigger-120"></i>
													</button></a>

													<button class="btn btn-xs btn-danger">
														<i class="ace-icon fa fa-trash-o bigger-120"></i>
													</button>

												</div>

												<div class="hidden-md hidden-lg">
													<div class="inline pos-rel">
														<button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown" data-position="auto">
															<i class="ace-icon fa fa-cog icon-only bigger-110"></i>
														</button>

														<ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
															<li>
																<a href="#" class="tooltip-info" data-rel="tooltip" title="View">
																			<span class="blue">
																				<i class="ace-icon fa fa-search-plus bigger-120"></i>
																			</span>
																</a>
															</li>

															<li>
																<a href="#" class="tooltip-success" data-rel="tooltip" title="Edit">
																			<span class="green">
																				<i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
																			</span>
																</a>
															</li>

															<li>
																<a href="#" class="tooltip-error" data-rel="tooltip" title="Delete">
																			<span class="red">
																				<i class="ace-icon fa fa-trash-o bigger-120"></i>
																			</span>
																</a>
															</li>
														</ul>
													</div>
												</div>
											</td>
										</tr>
										</tbody>
									</table>
								</div><!-- /.span -->
							</div><!-- /.row -->

							<!-- PAGE CONTENT ENDS -->
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div><!-- /.page-content -->
			</div>
		</div><!-- /.main-content -->

		<!-- /.main-content -->
		<div th:replace="fragments/footer :: footer" />
	</div>
	<div th:replace="fragments/footer :: js " />
</body>
<!-- /.container -->
</html>