<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title>Neue Sehenswürdigkeit erstellen - Saarromanus</title>
<div th:replace="fragments/header :: header-css" />
	<link rel="stylesheet" th:href="@{/css/select2.min.css}" />

</head>
<body class="no-skin">
	<div th:replace="fragments/header :: header" />
	<div class="main-container ace-save-state" id="main-container">
		<div th:replace="fragments/sidebar :: sidebar" />
		<div class="main-content">
			<div class="main-content-inner">

				<div class="page-content">

					<div class="page-header">
						<h1>Neue Sehenswürdigkeit erstellen</h1>
					</div>
					<!-- /.page-header -->

					<div class="row">
						<div class="col-xs-12">
							<!-- PAGE CONTENT BEGINS -->

							<div class="widget-body">
								<div class="widget-main">
									<div id="fuelux-wizard-container">
										<div class="step-content pos-rel">
											<div class="step-pane active" data-step="1">
												<h3 class="lighter block green">Bitte füllen Sie die
													untenstehenden Felder aus</h3>

												<form class="form-horizontal" id="validation-form"
													th:action="@{/newsite}" th:object="${SiteInfo}"
													method="post" enctype="multipart/form-data">
													<div class="row">
														<div class="col-md-6">
															<div class="widget-box">
																<div class="widget-header">
																	<h4 class="widget-title">Namen</h4>
																</div>
																<div class="widget-body">
																	<div class="widget-main">
																		<div class="form-group">
																			<label
																				class="control-label col-xs-12 col-sm-3 no-padding-right"
																				for="nameDE">Deutsch</label>

																			<div class="col-xs-12 col-sm-9">
																				<div class="clearfix">
																					<input type="text" name="nameDE" id="nameDE"
																						th:field="*{nameDE}" class="col-xs-12 col-sm-6" />
																				</div>
																			</div>
																		</div>
																		<div class="form-group">
																			<label
																				class="control-label col-xs-12 col-sm-3 no-padding-right"
																				for="nameEN">Englisch</label>

																			<div class="col-xs-12 col-sm-9">
																				<div class="clearfix">
																					<input type="text" name="nameEN" id="nameEN"
																						th:field="*{nameEN}" class="col-xs-12 col-sm-6" />
																				</div>
																			</div>
																		</div>
																		<div class="form-group">
																			<label
																				class="control-label col-xs-12 col-sm-3 no-padding-right"
																				for="nameFR">Französisch</label>

																			<div class="col-xs-12 col-sm-9">
																				<div class="clearfix">
																					<input type="text" name="nameFR" id="nameFR"
																						th:field="*{nameFR}" class="col-xs-12 col-sm-6" />
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="col-md-6">
															<div class="widget-box">
																<div class="widget-header">
																	<h4 class="widget-title">Routenparameter</h4>
																</div>
																<div class="widget-body">
																	<div class="widget-main">

																		<div class="form-group">
																			<label
																				class="control-label col-xs-12 col-sm-3 no-padding-right"
																				for="category">Art der Route</label>

																			<div class="col-xs-12 col-sm-9">
																				<div class="clearfix">
																					<select name="category[]" class="select2" multiple="multiple" id="category"
																						class="col-xs-12 col-sm-6">
																						<option>Villa</option>
																						<option>Heiligtum</option>
																						<option>Grabstätte</option>
																					</select>
																				</div>
																			</div>
																		</div>
																		<div class="form-group">
																			<label
																				class="control-label col-xs-12 col-sm-3 no-padding-right"
																				for="longitude">Längengrad</label>

																			<div class="col-xs-12 col-sm-9">
																				<div class="clearfix">
																					<input type="text" name="longitude" id="longitude"
																						th:field="*{longitude}" class="col-xs-12 col-sm-6" />
																				</div>
																			</div>
																		</div>
																		<div class="form-group">
																			<label
																				class="control-label col-xs-12 col-sm-3 no-padding-right"
																				for="latitude">Breitengrad</label>

																			<div class="col-xs-12 col-sm-9">
																				<div class="clearfix">
																					<input type="text" name="latitude" id="latitude"
																						th:field="*{latitude}" class="col-xs-12 col-sm-6" />
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="row">
														<div class="col-md-6">
															<div class="widget-box">
																<div class="widget-header">
																	<h4 class="widget-title">Beschreibung</h4>
																</div>
																<div class="widget-body">
																	<div class="widget-main">
																		<div class="form-group">
																			<label
																				class="control-label col-xs-12 col-sm-3 no-padding-right"
																				for="descriptionDE">Deutsch</label>

																			<div class="col-xs-12 col-sm-9">
																				<div class="clearfix">
																					<textarea name="descriptionDE" id="descriptionDE"
																						th:field="*{descriptionDE}"
																						class="col-xs-12 col-sm-6"></textarea>
																				</div>
																			</div>
																		</div>
																		<div class="form-group">
																			<label
																				class="control-label col-xs-12 col-sm-3 no-padding-right"
																				for="descriptionEN">Englisch</label>

																			<div class="col-xs-12 col-sm-9">
																				<div class="clearfix">
																					<textarea name="descriptionEN" id="descriptionEN"
																						th:field="*{descriptionEN}"
																						class="col-xs-12 col-sm-6"></textarea>
																				</div>
																			</div>
																		</div>
																		<div class="form-group">
																			<label
																				class="control-label col-xs-12 col-sm-3 no-padding-right"
																				for="descriptionFR">Französisch</label>

																			<div class="col-xs-12 col-sm-9">
																				<div class="clearfix">
																					<textarea name="descriptionFR" id="descriptionFR"
																						th:field="*{descriptionFR}"
																						class="col-xs-12 col-sm-6"></textarea>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="col-md-6">
															<div class="widget-box">
																<div class="widget-header">
																	<h4 class="widget-title">Zusätzliche Eigenschaften
																	</h4>
																</div>
																<div class="widget-body">
																	<div class="widget-main">
																		<div class="form-group">
																			<label
																				class="control-label col-xs-12 col-sm-3 no-padding-right"
																				for="website">Website</label>

																			<div class="col-xs-12 col-sm-9">
																				<div class="clearfix">
																					<input type="text" name="website" id="website"
																						th:field="*{website}" class="col-xs-12 col-sm-6" />
																				</div>
																			</div>
																		</div>
																		<div class="form-group">
																			<label
																				class="control-label col-xs-12 col-sm-3 no-padding-right"
																				for="street">Straße Nummer</label>
																			<div class="col-xs-12 col-sm-9">
																				<div class="clearfix">
																					<input type="text" name="street" id="street"
																						th:field="*{street}" class="col-xs-12 col-sm-6" />
																				</div>
																			</div>

																			<label
																				class="control-label col-xs-12 col-sm-3 no-padding-right"
																				for="zip">Postleitzahl</label>
																			<div class="col-xs-12 col-sm-9">
																				<div class="clearfix">
																					<input type="text" name="zip" id="zip"
																						th:field="*{zip}" class="col-xs-12 col-sm-6" />
																				</div>
																			</div>

																			<label
																				class="control-label col-xs-12 col-sm-3 no-padding-right"
																				for="city">Stadt</label>
																			<div class="col-xs-12 col-sm-9">
																				<div class="clearfix">
																					<input type="text" name="city" id="city"
																						th:field="*{city}" class="col-xs-12 col-sm-6" />

																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="col-md-6">
															<div class="widget-box">
																<div class="widget-header">
																	<h4 class="widget-title">Upload von Medien</h4>
																</div>
																<div class="widget-body">
																	<div class="widget-main">
																		<div class="form-group">
																			<label
																				class="control-label col-xs-12 col-sm-3 no-padding-right"
																				for="id-input-picture">Hauptbild</label>

																			<div class="col-xs-12 col-sm-9">
																				<div class="clearfix">
																					<input type="file" name="picture"
																						id="id-input-picture"
																						class="col-xs-12 col-sm-6" />
																				</div>
																			</div>
																		</div>
																		<div class="form-group">
																			<label
																					class="control-label col-xs-12 col-sm-3 no-padding-right"
																					for="id-input-audio-de">Audiodatei Deutsch</label>

																			<div class="col-xs-12 col-sm-9">
																				<div class="clearfix">
																					<input type="file" name="audio_de"
																						   id="id-input-audio-de"
																						   class="col-xs-12 col-sm-6" />
																				</div>
																			</div>
																		</div>
																		<div class="form-group">
																			<label
																					class="control-label col-xs-12 col-sm-3 no-padding-right"
																					for="id-input-audio-en">Audiodatei Englisch</label>

																			<div class="col-xs-12 col-sm-9">
																				<div class="clearfix">
																					<input type="file" name="audio_en"
																						   id="id-input-audio-en"
																						   class="col-xs-12 col-sm-6" />
																				</div>
																			</div>
																		</div>
																		<div class="form-group">
																			<label
																					class="control-label col-xs-12 col-sm-3 no-padding-right"
																					for="id-input-audio-fr">Audiodatei Französisch</label>

																			<div class="col-xs-12 col-sm-9">
																				<div class="clearfix">
																					<input type="file" name="audio_fr"
																						   id="id-input-audio-fr"
																						   class="col-xs-12 col-sm-6" />
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>


													<div class="wizard-actions">

														<button class="btn btn-success btn-next" type="submit" name="button" value="finish">
															Speichern <i
																class="ace-icon fa fa-arrow-right icon-on-right"></i>
														</button>
														<button class="btn btn-success btn-next" type="submit" name="button" value="continue">
															Weitere Bilder hochladen <i
																class="ace-icon fa fa-arrow-right icon-on-right"></i>
														</button>
													</div>
												</form>
											</div>


										</div>
									</div>

								</div>
								<!-- /.widget-main -->
							</div>
							<!-- /.widget-body -->


							<!-- PAGE CONTENT ENDS -->
						</div>
						<!-- /.col -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.page-content -->
			</div>
		</div>
		<!-- /.main-content -->

		<div th:replace="fragments/footer :: footer" />
	</div>
	<div th:replace="fragments/footer :: js " />

	<script th:src="@{/js/wizard.min.js}" src="../../js/wizard.min.js"></script>
	<script th:src="@{/js/jquery.validate.min.js}"
		src="../../js/jquery.validate.min.js"></script>
	<script th:src="@{/js/jquery-additional-methods.min.js}"
		src="../../js/jquery-additional-methods.min.js"></script>
	<script th:src="@{/js/bootbox.js}" src="../../js/bootbox.js"></script>
	<script th:src="@{/js/select2.min.js}"></script>


	<script type="text/javascript">
		jQuery
				.extend(
						jQuery.validator.messages,
						{
							required : "Dieses Feld muss ausgefüllt werden",
							remote : "Please fix this field.",
							email : "Please enter a valid email address.",
							url : "Please enter a valid URL.",
							date : "Please enter a valid date.",
							dateISO : "Please enter a valid date (ISO).",
							number : "Please enter a valid number.",
							digits : "Please enter only digits.",
							creditcard : "Please enter a valid credit card number.",
							equalTo : "Please enter the same value again.",
							accept : "Please enter a value with a valid extension.",
							maxlength : jQuery.validator
									.format("Bitte nicht mehr als {0} Zeichen eingeben."),
							minlength : jQuery.validator
									.format("Please enter at least {0} characters."),
							rangelength : jQuery.validator
									.format("Please enter a value between {0} and {1} characters long."),
							range : jQuery.validator
									.format("Please enter a value between {0} and {1}."),
							max : jQuery.validator
									.format("Please enter a value less than or equal to {0}."),
							min : jQuery.validator
									.format("Please enter a value greater than or equal to {0}.")
						});
	</script>
	<script type="text/javascript">
		jQuery(function($) {
            jQuery.validator.addMethod("double", function (value, element) {
                return this.optional(element) || /^\d*\.\d*$/.test(value);
            }, "Wert muss mit einem Punkt getrennt werden");
			$('[data-rel=tooltip]').tooltip();
			//documentation : http://docs.jquery.com/Plugins/Validation/validate

			$('#validation-form')
					.validate(
							{
								errorElement : 'div',
								errorClass : 'help-block',
								focusInvalid : false,
								ignore : "",
								rules : {
                                    nameDE : {
                                        required : true,
                                        maxlength: 27
                                    },
                                    nameEN : {
                                        required : true,
                                        maxlength: 27
                                    },
                                    nameFR : {
                                        required : true,
                                        maxlength: 27
                                    },
                                    descriptionDE : {
                                        required : true,
                                        maxlength: 550
                                    },
                                    descriptionEN : {
                                        required : true,
                                        maxlength: 550
                                    },
                                    descriptionFR : {
                                        required : true,
                                        maxlength: 550
                                    },
									longitude : {
                                        double: "required",
                                        required : true
									},
									latitude : {
									    double: "required",
										required : true
									},
                                    audio_de: {
                                        required: true,
                                        extension: "mp3"
                                    },
                                    audio_fr: {
                                        required: true,
                                        extension: "mp3"

                                    },
                                    audio_en: {
                                        required: true,
                                        extension: "mp3"

                                    },
                                    picture: {
                                        required: true
                                    },
									category: {
                                        required: true
									}
								},

								highlight : function(e) {
									$(e).closest('.form-group').removeClass(
											'has-info').addClass('has-error');
								},

								success : function(e) {
									$(e).closest('.form-group').removeClass(
											'has-error');//.addClass('has-info');
									$(e).remove();
								},

								errorPlacement : function(error, element) {
									if (element.is('input[type=checkbox]')
											|| element.is('input[type=radio]')) {
										var controls = element
												.closest('div[class*="col-"]');
										if (controls.find(':checkbox,:radio').length > 1)
											controls.append(error);
										else
											error.insertAfter(element.nextAll(
													'.lbl:eq(0)').eq(0));
									} else if (element.is('.select2')) {
										error
												.insertAfter(element
														.siblings('[class*="select2-container"]:eq(0)'));
									} else if (element.is('.chosen-select')) {
										error
												.insertAfter(element
														.siblings('[class*="chosen-container"]:eq(0)'));
									} else
										error.insertAfter(element.parent());
								},

								submitHandler : function(form) {
									form.submit();
								},
								invalidHandler : function(form) {
								}
							});

			$('#modal-wizard-container').ace_wizard();
			$('#modal-wizard .wizard-actions .btn[data-dismiss=modal]')
					.removeAttr('disabled');

			/**
			 $('#date').datepicker({autoclose:true}).on('changeDate', function(ev) {
						$(this).closest('form').validate().element($(this));
					});

			 $('#mychosen').chosen().on('change', function(ev) {
						$(this).closest('form').validate().element($(this));
					});
			 */

			$(document).one('ajaxloadstart.page', function(e) {
				//in ajax mode, remove remaining elements before leaving page
				$('[class*=select2]').remove();
			});

			$('#id-input-file-1 , #id-input-file-2').ace_file_input({
				no_file : 'No File ...',
				btn_choose : 'Choose',
				btn_change : 'Change',
				droppable : false,
				onchange : null,
				thumbnail : false
			//| true | large
			//whitelist:'gif|png|jpg|jpeg'
			//blacklist:'exe|php'
			//onchange:''
			//
			});
			//pre-show a file name, for example a previously selected file
			//$('#id-input-file-1').ace_file_input('show_file_list', ['myfile.txt'])

            $('#id-input-audio-de').ace_file_input({
                style: 'well',
                btn_choose: 'Deutsche Audiodatei hier rein ziehen oder klicken um sie auszuwählen',
                btn_change: null,
                no_icon: 'ace-icon fa fa-cloud-upload',
                droppable: true,
                thumbnail: 'large',//large | fit
                whitelist:'kml'
                //,icon_remove:null//set null, to hide remove/reset button
                /**,before_change:function(files, dropped) {
						//Check an example below
						//or examples/file-upload.html
						return true;
					}*/
                /**,before_remove : function() {
						return true;
					}*/
                ,
                preview_error : function(filename, error_code) {
                    //name of the file that failed
                    //error_code values
                    //1 = 'FILE_LOAD_FAILED',
                    //2 = 'IMAGE_LOAD_FAILED',
                    //3 = 'THUMBNAIL_FAILED'
                    //alert(error_code);
                }

            }).on('change', function(){
                //console.log($(this).data('ace_input_files'));
                //console.log($(this).data('ace_input_method'));
            });
            $('#id-input-audio-fr').ace_file_input({
                style: 'well',
                btn_choose: 'Französische Audiodatei hier rein ziehen oder klicken um sie auszuwählen',
                btn_change: null,
                no_icon: 'ace-icon fa fa-cloud-upload',
                droppable: true,
                thumbnail: 'large',//large | fit
                whitelist:'kml'
                //,icon_remove:null//set null, to hide remove/reset button
                /**,before_change:function(files, dropped) {
						//Check an example below
						//or examples/file-upload.html
						return true;
					}*/
                /**,before_remove : function() {
						return true;
					}*/
                ,
                preview_error : function(filename, error_code) {
                    //name of the file that failed
                    //error_code values
                    //1 = 'FILE_LOAD_FAILED',
                    //2 = 'IMAGE_LOAD_FAILED',
                    //3 = 'THUMBNAIL_FAILED'
                    //alert(error_code);
                }

            }).on('change', function(){
                //console.log($(this).data('ace_input_files'));
                //console.log($(this).data('ace_input_method'));
            });
            $('#id-input-audio-en').ace_file_input({
                style: 'well',
                btn_choose: 'Englische Audiodatei hier rein ziehen oder klicken um sie auszuwählen',
                btn_change: null,
                no_icon: 'ace-icon fa fa-cloud-upload',
                droppable: true,
                thumbnail: 'large',//large | fit
                whitelist:'kml'
                //,icon_remove:null//set null, to hide remove/reset button
                /**,before_change:function(files, dropped) {
						//Check an example below
						//or examples/file-upload.html
						return true;
					}*/
                /**,before_remove : function() {
						return true;
					}*/
                ,
                preview_error : function(filename, error_code) {
                    //name of the file that failed
                    //error_code values
                    //1 = 'FILE_LOAD_FAILED',
                    //2 = 'IMAGE_LOAD_FAILED',
                    //3 = 'THUMBNAIL_FAILED'
                    //alert(error_code);
                }

            }).on('change', function(){
                //console.log($(this).data('ace_input_files'));
                //console.log($(this).data('ace_input_method'));
            });
			$('#id-input-picture')
					.ace_file_input(
							{
								style : 'well',
								btn_choose : '.Bilder hier rein ziehen oder klicken um sie auszuwählen',
								btn_change : null,
								no_icon : 'ace-icon fa fa-cloud-upload',
								droppable : true,
								thumbnail : 'large',//large | fit
								whitelist : 'kml'
								//,icon_remove:null//set null, to hide remove/reset button
								/**,before_change:function(files, dropped) {
											//Check an example below
											//or examples/file-upload.html
											return true;
										}*/
								/**,before_remove : function() {
											return true;
										}*/
								,
								preview_error : function(filename, error_code) {
									//name of the file that failed
									//error_code values
									//1 = 'FILE_LOAD_FAILED',
									//2 = 'IMAGE_LOAD_FAILED',
									//3 = 'THUMBNAIL_FAILED'
									//alert(error_code);
								}

							}).on('change', function() {
						//console.log($(this).data('ace_input_files'));
						//console.log($(this).data('ace_input_method'));
					});

		})
	</script>


</body>
<!-- /.container -->
</html>