<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Alle User - Saarromanus</title>
    <div th:replace="fragments/header :: header-css" />

</head>
<body class="no-skin">
<div th:replace="fragments/header :: header" />
<div class="main-container ace-save-state" id="main-container">
    <div th:replace="fragments/sidebar :: sidebar" />
    <div class="main-content">
        <div class="main-content-inner">

            <div class="page-content">

                <div class="page-header">
                    <h1>
                        Alle User

                    </h1>
                </div><!-- /.page-header -->

                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <div class="row">
                            <div class="col-xs-12">
                                <a href="/newuser?error=false"><button class="btn btn-primary">Neuen User erstellen</button></a>
                                <br/><br/>
                                <table id="simple-table" class="table  table-bordered table-hover">
                                    <thead>
                                    <tr>

                                        <th>ID</th>
                                        <th>Name</th>
                                        <th></th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr th:each="sb : ${users}">
                                        <td th:text="${{sb.id}}">13/01/2011</td>
                                        <td th:text="${{sb.getUsername()}}">13/01/2011</td>
                                        <td>
                                            <div class="btn-group">


                                                <a th:href='${"/edituser/"+sb.id+"?error=false"}'><button class="btn btn-xs btn-info">
                                                    <i class="ace-icon fa fa-pencil bigger-120"></i>
                                                </button></a>
                                                <a th:href='${"/deleteuser/"+sb.id}'>
                                                    <button
                                                            class="btn btn-xs btn-danger">
                                                        <i
                                                                class="ace-icon fa fa-trash-o bigger-120"></i>
                                                    </button>
                                                </a>

                                            </div>

                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div><!-- /.span -->
                        </div><!-- /.row -->

                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->

    <!-- /.main-content -->
    <div th:replace="fragments/footer :: footer" />
</div>
<div th:replace="fragments/footer :: js " />
</body>
<!-- /.container -->
</html>